html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

body {
  margin: 32px;
}

h1 {
  text-align: center;
  padding: 10px 80px;
  font-size: 32px;
  font-weight: 600;
}

.hamburger {
  position: absolute;
  left: 16px;
  top: 16px;
}

.nav-desktop {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  border-bottom: 0.5px solid black;
  position: relative;
  font-weight: 600;
}

.nav-item-desktop {
  display: inline-block;
  padding: 8px;
}

.menu-desktop {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: calc(100% - 64px);
  display: flex;
  justify-content: center;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
  text-align: left;
  cursor: default;
  padding: 16px 0;
  border-top: 1px solid black;
}

.menu-heading-desktop {
  display: inline-block;
  text-align: left;
  position: relative;
  font-weight: 600;
  margin-bottom: 16px;
}

.menu-item-desktop {
  font-weight: 300;
}

.nav-item-desktop:hover,
.menu-item-desktop:hover,
.nav-item-mobile:hover,
.menu-item-mobile:hover {
  cursor: pointer;
}

.nav-item-desktop:hover .menu-desktop {
  opacity: 1;
  pointer-events: all;
}

.menu-column-desktop {
  width: 200px;
}

@media (max-width: 1280px) {
  .nav-desktop {
    visibility: hidden;
  }
}

@media (min-width: 1280px) {
  .nav-mobile {
    visibility: hidden;
  }
}


.nav-item-mobile {
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-heading-mobile {
  font-weight: 600;
}

.menu-mobile {
  height: 0px;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
}

.menu-item-mobile {
  font-weight: 300;
}